
.cel-error {
  display: none;
  color: #c83b8d !important;
  font-style: italic;
  font-weight: bold;
  font-size: small;
}

.validate_phone_msg{
  font-family: lato;
  color: #26a69a;
  font-weight: bolder;
  font-size: small;
}
.celular-animation {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

#cont_login,
#cont_registro {
  margin-top: 1em;
}
#cont_opciones{
  margin-top: 2em;
}
#cont_terminos{
  margin-bottom: 3em;
}
.google {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 19.3em;
}
.info-codigo {
  color: #0f9b9b !important;
  font-weight: bold;
  font-size: inherit;
}
#login_failed, #user_exits {
  display: none;
  color: #a72525;
  background-color: #f5d6d6;
  border-radius: 0.2em;
  padding: 0.5em;
  margin-top: 1em;
}
.subtitulo-registro {
  color: #6f6f6e !important;
  font-size: 0.8em;
}
#titulo_defecto,
#titulo_opciones{
  font-size: 1.2em;
}
.titulo-registro {
  margin-top: 1em;
  color: #6f6f6e !important;
  font-weight: bold;
  font-size: 1em;
}
#user_exits,
#login_failed{
  margin-bottom: 1em;
}


